{
  "extends": "standard",
  "rules": {
    "no-labels": 0,
    "camelcase": 0,
    "no-multi-spaces": 0,
    "comma-spacing": 0,
    "comma-dangle": 0,
    "standard/array-bracket-even-spacing": 0
  }
}